<h1>Authors#new</h1>
<p>Find me in app/views/authors/new.html.erb</p>

<form>
  <input type="text" name="First name" />
  <input type="text" name="Last name" />
  <input type="text" name="Homepage" />
</form>
